<div class="container-md d-flex flex-column customer-details mx-auto">
  <div class="card mt-5">
    <div class="card-header">
      <div class="card-title text-center">Contract Form</div>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group mx-sm-3 my-2 w-75">
          <label for="start_date">Start Date:</label>
          <input type="date" class="form-control w-25" id="start_date" formControlName="start_date" required />
          <div *ngIf="form.get('start_date')?.invalid && form.get('start_date')?.touched" class="text-danger">
          Start Date is required  </div>
        </div>
  
        <div class="form-group mx-sm-3 my-2 w-75">
          <label for="end_date">End Date:</label>
          <input type="date" class="form-control w-25" id="end_date" formControlName="end_date" required />
        </div>
  
        <div class="form-group mx-sm-3 w-50 my-2">
          <label for="insurance_type">Insurance Type</label>
          <select class="form-control w-25 " id="insurance_type" formControlName="insurance_type" required>
            <option *ngFor="let insuranceType of insuranceTypes" [value]="insuranceType">
              {{ insuranceType }}
            </option>
          </select>
        </div>
  
         <div class="form-group mx-sm-3 my-2 w-75">
          <label for="insurance_holder">Insurance Holder</label>
          <select class="form-control w-25" id="insurance_holder" formControlName="insurance_holder">
            <option *ngFor="let insuranceHolder of insuranceHolders" [value]="insuranceHolder">
              {{ insuranceHolder }}
            </option>
          </select>
        </div>       
      </form>   

      <button type="button" class="btn btn-primary btn-lg m-3" [disabled]="!form.valid" (click)="onSubmit()">
        {{ isUpdateMode ? 'Update Contract' : 'Add Contract' }}
      </button>
       <button type="button" class="btn btn-primary btn-lg m-3 py-2" routerLink="/contracts-list">Back
        </button>
        
  </div>
</div>